{{> mainmenu _id="settings" }}

<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui twelve wide column">
            <div class="ui stacked fluid form segment">
                <form action="/settings" method="POST">
                    <h3 class="ui header">Settings</h3>
                    <div class="two fields">
                        <div class="field {{#if errorz.firstName}}error{{/if}}">
                            <label>First Name</label> <input
                                {{#unless errorz.firstName}}value="{{user.firstName}}"{{/unless}}
                            {{#if errorz.firstName}}value="{{values.firstName}}"{{/if}}
                                type="text" name="firstName"/>
                        </div>

                        <div class="field {{#if errorz.lastName}}error{{/if}}">
                            <label>Last Name</label> <input
                                {{#unless errorz.lasstName}}value="{{user.lastName}}"{{/unless}}
                            {{#if errorz.lasstName}}value="{{values.lastName}}"{{/if}}
                                type="text" name="lastName"/>
                        </div>
                    </div>

                    <div class="field {{#if errorz.email}}error{{/if}}">
                        <label>Email</label>
                        <input
                                {{#unless errorz.email}}value="{{user.email}}"{{/unless}}
                            {{#if errorz.email}}value="{{values.email}}"{{/if}}
                                type="text" name="email"/>
                    </div>

                    <div class="required field {{#if errorz.new_password}}error{{/if}}">
                        <label>Password</label>
                        <input type="password"
                               {{#unless errorz.new_password}}value="{{user.password}}"{{/unless}}
                            {{#if errorz.new_password}}value="{{values.new_password}}"{{/if}}
                               name="new_password" id="new"required>
                    </div>
                    <div class="required field {{#if errorz.confirm_password}}error{{/if}}">
                        <label>Confirm Password</label>
                        <input type="password" name="confirm_password" id="confirm" required>
                    </div>
                    <div>
                        <button class="ui green submit button"> Submit</button>
                    </div>
                </form>
                {{> error }}
            </div>
            <div class="ui small checkbox">
                <input type="checkbox" name="showpassowrds" onclick="togglePassword()">
                <label>Show Passwords</label>
            </div><br><br>
        </div>
        <aside class="ui four wide column">
            <i class="bordered massive olive cogs icon"></i>
        </aside>
    </div>
</section>

<script>
    function togglePassword() {
        var x = document.getElementById("new");
        var y = document.getElementById("confirm");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }
</script>